{% extends 'base.html.twig' %}

{% block title %}Edit Contenu{% endblock %}

{% block body %}
    <h1>Edit Contenu</h1>

    {{ include('contenu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contenu_index') }}">back to list</a>

    {{ include('contenu/_delete_form.html.twig') }}
{% endblock %}
